# .env.example

# Database
DATABASE_URL=postgresql://postgres:OwVyDnYcKlkmRkttupvfCSlKkOWAlpJL@trolley.proxy.rlwy.net:10414/railway
# JWT Secret (Use uma string longa e aleatória para produção)
JWT_SECRET="aebd6ebe83b77673c90c3752c53c3bf20591b26803727859d3a728a0cd57abc2"
JWT_EXPIRATION_TIME="1h" # Ex: 1h, 7d, 24h

# Porta da aplicação NestJS
PORT=3000

# Outras variáveis de ambiente (ex: chaves de API de pagamento, etc.)
# STRIPE_SECRET_KEY="sk_test_..."
# MERCADO_PAGO_ACCESS_TOKEN="APP_USR-..."

PAGSEGURO_API_TOKEN=67b220b7-74a4-4e0d-a59e-d9164141c668edd70ac04afbb8d4416c50fb4de6a4d64082-9bbe-4a3a-ae2d-1ceadc797e86
PAGSEGURO_API_BASE_URL=https://api.pagseguro.com
PAGBANK_ENV=production